<body>
  <header>
    <div class="navbar navbar-dark shadow-sm">
        <div class="navbar-brand align-item-center d-flex">
            <!-- Fill the code for heading-->
            <h1>Nakshatra Fashions</h1>
          
        </div>
        
        <!-- Fill your code for Products and Cart using button element with class="btn"-->
        <button class="btn" routerLink="product" id="productLink">Products</button>
        <button class="btn" routerLink="cart" id="cartLink">Cart<div class="badge bg-warning">{{totalItem}}</div></button> 
        
    </div>
  </header>
  
  <router-outlet></router-outlet>
  </body>
  
  
  <!--<header>-->
  <!--  <div class="navbar navbar-dark shadow-sm">-->
  <!--      <div class="navbar-brand align-item-center d-flex">-->
  <!--          <strong >Nakshatra Fashion</strong>-->
          
  <!--      </div>-->
  <!--      <button routerLink="product" id="productLink" class="btn" >Products-->
         
          
  <!--    </button>-->
  <!--      <button routerLink="cart" id="cartLink" class="btn">Cart-->
        
  <!--          <div class="badge bg-warning">{{totalItem}}</div>-->
  <!--      </button>-->
  <!--  </div>-->
  <!--</header><nav></nav>-->
  
  <!--<router-outlet></router-outlet>-->
                                  
  	 	  	  		    	   	 	   	 	
